@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.cdnfonts.com/css/brigends-expanded");
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
}
.link-secciones {
  display: flex;
  gap: 30px;
}
.link-secciones a {
  color: #fff;
  font-family: "Shadows Into Light", cursive;
}
.img-logo {
  margin-right: 15%;
}
ul {
  display: flex;
  gap: 30px;
}
.contenedor-inicio {
  height: 100vh;
}
.texto-inicio {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  font-size: 20px;
  font-family: "Brigends Expanded", sans-serif;
}
.texto-inicio span {
  font-size: 22px;
  margin-top: 10px;
  color: grey;
}
.texto-inicio h1 {
  background: linear-gradient(90deg, #680dda 0%, #78d3fd 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.down-arrow {
  display: none;
  position: absolute;
  width: 0;
  height: 30px;
  bottom: 20px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 9s infinite;
}
.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 50px;
  }
  100% {
    margin-top: 0;
  }
}
.texto-inicio p {
  color: #fff;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 2rem 8rem;
  padding: 3rem;
}

.link-footer {
  position: absolute;
  bottom: 0px;
  margin-bottom: 20px;
}

.copy-inicio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px !important;
}

#fecha {
  font-size: 12px !important;
}