@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.cdnfonts.com/css/brigends-expanded");
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
}

a {
  text-decoration: none;
}
/* Estilos para la barra de navegacion */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
}
.link-secciones {
  display: flex;
  gap: 30px;
}
.link-secciones a {
  color: #fff;
  font-family: "Shadows Into Light", cursive;
}
.img-logo {
  position: relative;
}
ul {
  display: flex;
  gap: 30px;
}
.descripcion {
  padding: 0 7%;
  color: #fff;
  margin-top: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;  
  align-items: center;
  justify-content: center;
  gap: 10rem;
  text-align: justify;
}

.descripcion h1{
  background: linear-gradient(30deg, #680dda 0%, #78d3fd 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 60px;
  text-align: center;
  padding-bottom: 3rem;
}

.descripcion video{
  position: relative;
  top: 60px;
  border-radius: 10px;
  box-shadow: rgb(117 0 255 / 20%) 0 51px 93px 22px;
}